<div class="about-page">
    <!-- About Store Section -->
    <section class="intro-section">
        <app-about-us />
    </section>

    <!-- Mission and Vision Section -->
    <section class="mission-section">
        <h2>Our Mission & Vision</h2>
        <div class="mission-content">

            <p><strong>Mission</strong> <br> To provide an extensive collection of books and deliver an excellent
                reading experience to our customers.</p>
            <p><strong>Vision</strong> <br>To become the leading online book retailer by offering great prices,
                excellent customer service, and a vast selection.</p>

        </div>
    </section>

    <!-- Values Section -->
    <section class="values-section">
        <app-our-values />
    </section>


    <!-- Team Section -->
    <section class="team-section">
        <h2>Meet Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="../../../../../assets/img/person.jpg" alt="Team Member 1" />
                <h3>Name</h3>
                <p>Founder & CEO</p>
                <p>A passionate reader with a vision to make books accessible to everyone.</p>
            </div>
            <div class="team-member">
                <img src="../../../../../assets/img/person.jpg" alt="Team Member 2" />
                <h3>Name</h3>
                <p>Head of Marketing</p>
                <p>Responsible for ensuring our book offerings reach the right audience.</p>
            </div>
            <div class="team-member">
                <img src="../../../../../assets/img/person.jpg" alt="Team Member 3" />
                <h3>Name</h3>
                <p>Customer Support Lead</p>
                <p>Focused on providing exceptional support to our customers.</p>
            </div>
        </div>
    </section>

</div>