
<!-- hero section component  -->
 <section class="hero-section">
     <app-hero-section/>

 </section>

 <!-- book-store -->
  <section class="book-store-section">
     <app-book-store/>
  </section>

  <!-- top-trending-book-store -->
   <section class="book-store-section">
    <app-top-trending-book/>
   </section>
<!-- book genres -->
<section class="genres-store-section">
    <app-browse-genres/>
</section>
<!-- customer review  -->
<section class="customer-review-section">
    <app-customer-review/>
</section>