<div class="intro-content">
    <div class="image-container">
        <img src="../../../../../assets/img/bookself.jpg" alt="Book Store Image" />
    </div>
    <div class="text-content">
        <p>
            Welcome to BookBuddy, your go-to destination for all things books! We offer a wide range of books
            across various genres and formats. Whether you're looking for the latest bestsellers or timeless
            classics, we've got you covered.
        </p>
        <p>
            We are passionate about reading and believe in the power of books to change lives. Our mission is to
            provide an enjoyable, easy, and convenient shopping experience for book lovers everywhere.
        </p>
    </div>
</div>