.cart-container {
    padding: 20px 100px;
    background-color: #f9f9f9;
}
.cart-container>p{
    font-size: 25px ;
    font-weight: bold;
}

.cart-item {
    display: flex;

    align-items: center;
    justify-content: start;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    padding: 1rem;
    gap: 10px;
}

.cart-item:hover {
    transform: translateY(-5px);
}

.item-detail h2 {
    font-size: 20px;
    margin: 0;

}

.item-detail {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.item-detail h5 {
    font-size: 15px;
    margin: 0;
    font-weight: 300 !important;
}

.price-container {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.book-image {
    width: 100px;
    height: auto;
    border-radius: 6px;
    margin-right: 1.5rem;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin: 0;
    font-size: 1.25rem;
}

.item-details .author {
    color: #777;
    font-size: 0.95rem;
    margin-top: 0.25rem;
}

.quantity-controls {
    display: flex;
    align-items: center;
    /* margin-top: 0.75rem; */
}

.quantity-controls button {
    background-color: #c8c9ca;
    color: white;
    border: none;
    border-radius: 10px;
    border: 1px solid #eef3cf;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.2s ease;
}

.quantity-controls button:hover {
    background-color: #e7e292;
    color: rgb(36, 35, 35)
}

.quantity-controls span {
    font-size: 1rem;
    font-weight: 600;
}

.price {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.checkout{
    background-color: rgb(9, 156, 9);
    padding: 10px 15px;
    border-radius: 20px;
}
.checkout:hover{
    background-color: rgb(6, 133, 6);
    transform: translateX(5px);
    transition: transform .5s;
}

@media (max-width:786px) {
    .cart-container{
        padding: 20px;
    }
    .cart-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

    }
    
    
}