/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: inter;
    src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

body{
    font-family: "inter";
    margin: 0;
}