<div class="hero-container">

    <section class="left-side-hero-section">
        <h2>
            The best place to discover, read & engage with book
        </h2>
        <p>
            Reading is more fun and motivating together.Build your bookshelf,invite your friends,share notes,and conversations in the margins of the text you read
    
        </p>
        <button (click)="handleClick()" class="find-book-button">
           find your Book <lucide-icon [img]="ChevronRight" class="my-icon circle"></lucide-icon>
        </button>
    </section>
    
    <!-- image section -->
    <section class="right-side-hero-section">
        <img src="../../../../../assets/img/image-hero.png" alt="hero image">
    </section>

</div>
